# Node modules
node_modules/

# Environment files
.env

# System Files
.DS_Store
Thumbs.db

# Build/output directory
/dist
/build

# IDE-specific files
.idea/
*.sublime-workspace
*.sublime-project
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache & error logs
.npm
.npmrc
npm-debug.log*

# Miscellaneous
*.swp
*.swo

